.EnglishTask1 {
    background: white;
}

.EnglishTask1__header {
    text-align: center;
}

.EnglishTask1__images {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.EnglishTask1__img {
    width: 100%;
    display: block;
}

.EnglishTask1__input {
    font-family: Helvetica arial sans-serif;
    font-weight: bold;
    position: absolute;
}

.EnglishTask1__checkButton {
    margin-bottom: 0.5rem;
}

.EnglishTask1__bottomText {
    height: 3rem;
}

.EnglishTask1__correct {
    color: mediumseagreen;
}

.EnglishTask1__incorrect {
    color: orangered;
}

.EnglishTask1__bottom {
    text-align: center;
}

.EnglishTask1__footer {
    text-align: center;
    margin-bottom: 1rem;
}