.PlayersSettingsModal {
    width: 400px;
    margin: 10% auto 0;
}

.PlayersSettingsModal_content {
    padding: 20px 60px;
}

.PlayersSettingsModal_close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.PlayersSettingsModal_field {
    margin-bottom: 0.5rem;
}

.PlayersSettingsModal_AddButton {
    margin-bottom: 1rem;
}

.PlayersSettingsModal_select {
    vertical-align: bottom;
    margin-left: 0.5rem;
}
