@import "./App.typography.css";

body {
    margin: 0;
    font-family: Segoe UI, sans-serif;
}

a {
    text-decoration: none;
}

.app {
    background: #efefef;
    min-height: 620px;
}

.app__container {
    padding-top: 1rem;
}

.app__content {
    padding: 1rem 0;
}