.root {
    text-align: center;
}

.toggle-interface-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
}

.toggle-interface {
    font-size: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s;
}

.toggle-interface-hidden {
    opacity: 0;
}

.file-input {
    margin-bottom: 10px;
}

.button {
    font-size: 60px;
    margin-bottom: 10px;
    padding: 10px 20px 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.step-button {
    font-size: 40px;
}

.input {
    width: 150px;
}

.time {
    margin-bottom: 30px;
}

.text {
    margin-top: 20px;
    min-height: 320px;
    font-family: Arial, Helvetica, sans-serif
}

.fieldset {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}

.fieldset>* {
    margin-left: 10px
}

.reset {
    vertical-align: top;
    font-size: 32px;
    margin-right: 10px;
    margin-top: 12px;
    padding-bottom: 3px;
}

.font-size {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}

.font-size>* {
    margin-left: 10px;
}

.speed-input {
    margin-top: 15px;
}