.GamesAssistant {
    min-height: 120px;
    padding-top: 20px;
}

.GamesAssistant__body {
    text-align: center;
}

.GamesAssistant__controls {
    margin-bottom: 0.5rem;
}

.GamesAssistant__error {
    color: orangered;
}

.GamesAssistant__spinner {
    visibility: hidden;
}

.GamesAssistant__spinner_shown {
    visibility: visible;
}

.GamesAssistant__fakeApiSwitch {
    text-align: right;
}