body {
    background: linear-gradient(90deg, #ffdae3, #bbc4ec);
}

.Bouquet {
    text-align: center;
}

.Bouquet_wheel {
    position: relative;
    margin: 0 auto;
}

.Bouquet_img {
    position: absolute;
}

.Bouquet_center {
    cursor: pointer;
}

.Bouquet_field {
    font-size: 20px;
}

.Bouquet_input {
    height: 20px;
    width: 40px;
    font-size: 20px;
}

.Bouquet_bouquet {
    z-index: 2;
}

.Bouquet_bouquet_moving {
    transition: top 3s, left 3s;
}

.Bouquet_settings {
    position: absolute;
    top: 0;
    right: 0;
}
