.Bouquet {
    text-align: center;
}

.Bouquet_wheel {
    position: relative;
}

.Bouquet_img {
    position: absolute;
}

.Bouquet_center {
    cursor: pointer;
}

.Bouquet_field {
    font-size: 20px;
}

.Bouquet_input {
    height: 20px;
    width: 40px;
    font-size: 20px;
}
